/* @section home
-------------------------------------------------------------- */
.home {
  @media only screen and (min-width : 768px) {
    .row-hero {
      min-height: 500px;
    }
  }

  @media only screen and (min-width : 768px) {
    #main-content .row-hero img {
      display: none;
    }

    .row-hero .strip-inner-wrapper {
      position: relative;
    }

    .partners-image-container {
      background: url('../img/home/partners-hero-background.png') no-repeat center center;
      height: 600px;
      position: absolute;
      left: 400px;
      top: -110px;
      width: 600px;
    }

    .partners-hero-ubuntu {
      -moz-animation-delay: 1s;
      -moz-animation: scaleIn .3s forwards, fadeIn .6s linear forwards, rotateIn .0s ease-out forwards;
      -webkit-animation-delay: 1s;
      -webkit-animation: scaleIn .3s forwards, fadeIn .6s linear forwards, rotateIn .0s ease-out forwards;
      animation-delay: 1s;
      animation: scaleIn .3s forwards, fadeIn .6s linear forwards, rotateIn .0s ease-out forwards;
      background: url('../img/home/partners-hero-ubuntu.png') 50% 50% no-repeat;
      background: url('../img/home/partners-hero-ubuntu.svg') 50% 50% no-repeat, none;
      height: 140px;
      left: 330px;
      opacity: 0;
      position: absolute;
      top: 208px;
      width: 140px;
    }

    .partners-hero-desktop,
    .partners-hero-phone,
    .partners-hero-tablet,
    .partners-hero-server,
    .partners-hero-cloud {
      -moz-animation: scaleInPop 0.2s forwards, fadeIn 0.2s linear forwards;
      -webkit-animation: scaleInPop 0.2s forwards, fadeIn 0.2s linear forwards;
      animation: scaleInPop 0.2s forwards, fadeIn 0.2s linear forwards;
      height: 66px;
      opacity: 0;
      position: absolute;
      width: 66px;
    }

    .partners-hero-desktop {
      -moz-animation-delay: 1.6s;
      -webkit-animation-delay: 1.6s;
      animation-delay: 1.6s;
      background: url('../img/home/partners-hero-desktop.png') 50% 50% no-repeat;
      background: url('../img/home/partners-hero-desktop.svg') 50% 50% no-repeat, none;
      left: 367px;
      top: 65px;
    }

    .partners-hero-phone {
      -moz-animation-delay: 1.85s;
      -webkit-animation-delay: 1.85s;
      animation-delay: 1.85s;
      background: url('../img/home/partners-hero-phone.png') 50% 50% no-repeat;
      background: url('../img/home/partners-hero-phone.svg') 50% 50% no-repeat, none;
      left: 494px;
      top: 118px;
    }

    .partners-hero-tablet {
      -moz-animation-delay: 2s;
      -webkit-animation-delay: 2s;
      animation-delay: 2s;
      background: url('../img/home/partners-hero-tablet.png') 50% 50% no-repeat;
      background: url('../img/home/partners-hero-tablet.svg') 50% 50% no-repeat, none;
      left: 547px;
      top: 245px;
    }

    .partners-hero-server {
      -moz-animation-delay: 2.15s;
      -webkit-animation-delay: 2.15s;
      animation-delay: 2.15s;
      background: url('../img/home/partners-hero-server.png') 50% 50% no-repeat;
      background: url('../img/home/partners-hero-server.svg') 50% 50% no-repeat, none;
      left: 367px;
      top: 425px;
    }

    .partners-hero-cloud {
      -moz-animation-delay: 2.3s;
      -webkit-animation-delay: 2.3s;
      animation-delay: 2.3s;
      background: url('../img/home/partners-hero-cloud.png') 50% 50% no-repeat;
      background: url('../img/home/partners-hero-cloud.svg') 50% 50% no-repeat, none;
      left: 240px;
      top: 372px;
    }

    .partners-hero-line-1,
    .partners-hero-line-2,
    .partners-hero-line-3,
    .partners-hero-line-4,
    .partners-hero-line-5 {
      -moz-animation: fadeIn .3s linear forwards;
      -webkit-animation: fadeIn .3s linear forwards;
      animation: fadeIn .3s linear forwards;
      opacity: 0;
      position: absolute;
    }

    .partners-hero-line-1 {
      -moz-animation-delay: 1.85s;
      -webkit-animation-delay: 1.85s;
      animation-delay: 1.85s;
      background: url('../img/home/partners-hero-line-vertical.png');
      height: 52px;
      left: 399px;
      top: 147px;
      width: 2px;
    }

    .partners-hero-line-2 {
      -moz-animation-delay: 2s;
      -webkit-animation-delay: 2s;
      animation-delay: 2s;
      background: url('../img/home/partners-hero-line-diagonal.png');
      height: 38px;
      left: 455px;
      top: 185px;
      width: 38px;
    }

    .partners-hero-line-3 {
      -moz-animation-delay: 2.15s;
      -webkit-animation-delay: 2.15s;
      animation-delay: 2.15s;
      background: url('../img/home/partners-hero-line-horizontal.png');
      height: 2px;
      left: 479px;
      top: 277px;
      width: 52px;
    }

    .partners-hero-line-4 {
      -moz-animation-delay: 2.3s;
      -webkit-animation-delay: 2.3s;
      animation-delay: 2.3s;
      background: url('../img/home/partners-hero-line-vertical.png');
      height: 52px;
      left: 399px;
      top: 357px;
      width: 2px;
    }

    .partners-hero-line-5 {
      -moz-animation-delay: 2.45s;
      -webkit-animation-delay: 2.45s;
      animation-delay: 2.45s;
      background: url('../img/home/partners-hero-line-diagonal.png');
      height: 38px;
      left: 307px;
      top: 333px;
      width: 38px;
    }
  }
}
